body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(at 0% 0%, black, #1F2833, #45A29E);
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: rgba(255, 251, 244, 0.95);
    font-family: "Montserrat", sans-serif;
    font-size:75px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.2em;
}

#sentiment {
    font-family: "Catamaran", sans-serif;
    text-align: center;
    padding-top: 100px;
}

.subtitle {
    font-family: "Catamaran", sans-serif;
    font-size: 22px;
    color: rgba(255, 251, 244, 0.95);
}

.first {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 43px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: rgba(255, 251, 244, 0.95);
}
.first2 {
    margin-left: 34px;
    margin-top: 140px;
    margin-bottom: 10px;
    font-size: 43px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: rgba(255, 251, 244, 0.95);
    float: left;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

.second {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #EDEDEE;
}

.divider {
    width: 1000px;
    border: 1.39px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}
.divider2 {
    width: 1000px;
    border: 1.39px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.pose-image {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    overflow: hidden;
    min-width: 256px;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    width: 480px;
}
.pose-container {
    float: left;
    width: 50%;
    max-height: 100%;
    text-align: right;
}
.scroll-container {
    max-height: 100%;
    overflow: scroll;
    float: left;
}

.small-text {
    color: #c8c8c8;
}

#left {
    text-align: left;
}
#right {
    text-align: right;
}